.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.animation {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 40px;
}
.animation div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  height: 64px;
  background: #000;
  animation: spiner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.animation div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.animation div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.animation div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes spiner {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
